.logo {
    border-radius: 50%;
    width: 120px;
}

.header {
    display: flex;
    justify-content: space-between;

    margin: 5px;
    flex-wrap: wrap;
    background-color: rgb(5, 5, 5);
    color: white;
    width: 100%;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    gap: 50px;
}

nav>ul>a {

    border-radius: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
}

nav>ul>a:hover {
    background-color: white;

    color: black;
}

#star {
    background-color: lightgreen;
}

.card {
    background-color: #FFFFFF;
    width: 250px;
    margin: 20px 50px;
    overflow: hidden;
    white-space: nowrap;
}

.card h4 {
    text-align: center;
}

.card:hover {
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(167, 166, 166);
}

.card>img {
    width: 100%
}

.card>p {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

#cusines {
    color: #E7B68E;
    ;
}

/* searchbutton */
.search-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.button {
    background-color: rgb(74, 74, 74);
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: black;
}

.search {
    height: 25px;
    width: 550px;
}

.footer {
    background-color: rgb(17, 17, 17);
    color: #FFFFFF;


}

.footer img {
    width: 80px;
    border-radius: 20%;
}

#line {
    border: 1px solid #FFFFFF;
    margin: 2em 10em;

    color: #FFFFFF;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 150px;
}

.cont ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.cont li {
    margin: 0 20px;
}

.loading {
    width: 100%;
    text-align: center;
    height: 50%;
}

.container a {
    text-decoration: none;
    color: black;
}